* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #3c3f40;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 50px 50px;
}

#logo {
  margin-bottom: 2%;
  width: 150px;
  height: 150px;
}

.line {
  width: 70%;
  height: 2px;
  background-color: white;
  margin-bottom: 2%;
}

.links a {
  font-family: "Inter", sans-serif;
  color: white;
  text-decoration: none;
  padding-right: 10px;
}

.links {
  padding-bottom: 3%;
}

.form-container {
  width: 40vw;
  margin: 8% auto;
  background: #3c3f40;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-align: left;
  margin-bottom: 6px;
  color: #fff;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

button {
  position: relative;
  left: 40%;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#multiStepForm label {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  color: #fff;
}

.footer {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1vw;
  color: #fff;
  background-color: #3c3f40;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.impressum {
  padding-right: 30px;
}

.agb {
  padding-right: 30px;
}
.footer-copyright {
  padding-top: 20px;
}

.footer-text a img {
  padding-top: 20px;
  padding-right: 10px;
  height: 50px;
  width: 40px;
}

@media only screen and (max-width: 480px) {
  /*-----------------------------------------------------HERO SECTION CSS CODE----------------------------------------------------------------*/
  .navbar {
    background-color: #3c3f40;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 0;
  }

  .line {
    display: none;
  }

  .links a {
    display: none;
  }

  .form-container {
    width: 90vw;
  }
  .footer {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*-----------------------------------------------------HERO SECTION CSS CODE----------------------------------------------------------------*/
  .navbar {
    background-color: #3c3f40;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
  }

  .form-container {
    width: 90vw;
  }

  .footer {
    font-size: 2.7vw;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  /*-----------------------------------------------------HERO SECTION CSS CODE----------------------------------------------------------------*/
  .navbar {
    background-color: #3c3f40;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
  }
  .form-container {
    width: 80vw;
  }
  .footer {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /*-----------------------------------------------------HERO SECTION CSS CODE----------------------------------------------------------------*/
  .navbar {
    background-color: #3c3f40;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
  }
  .form-container {
    width: 60vw;
  }
  .footer {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1305px) {
  /*-----------------------------------------------------HERO SECTION CSS CODE----------------------------------------------------------------*/
  .navbar {
    background-color: #3c3f40;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50px 50px;
  }
  .form-container {
    width: 50vw;
  }
  .footer {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 1306px) and (max-width: 1946px) {
  .footer {
    font-size: 1vw;
  }
}
@media screen and (min-width: 1946px) {
}
