<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <a href="{{ url_for('index') }}">
          <img
            id="logo"
            src="{{ url_for('static', filename='images/newlogo.png') }}"
            alt="Your Company Logo"
          />
        </a>
        <div class="line"></div>
        <div class="links">
          <a href="{{ url_for('index') }}#pakete">PAKETE</a>
          <a href="{{ url_for('index') }}#content">DIENSTLEISTUNGEN</a>
          <a href="{{ url_for('index') }}#final">KONTAKTIERE UNS</a>
        </div>
      </div>
    </nav>
    <div class="form-container">
      <form id="multiStepForm">
        <div id="step1" style="display: block">
          <h2>Jetzt kostenlos anfragen</h2>
          <h3>Welche Dienstleistung benötigen Sie?</h3>
          <select id="Jetzt" name="Jetzt">
            <option value="Umzug" id="Umzug">Umzug</option>
            <option value="Entrumpelung" id="Entrumpelung">Entrümpelung</option>
          </select>
          <button type="button" id="nextButton">Weiter</button>
        </div>
        <div id="step2_Entrumpelung" style="display: none">
          <h2>Entrümpelung</h2>
          <h3>Bitte wählen Sie die Art der Entrümpelung aus:</h3>
          <select id="Freigabetyp" name="Freigabetyp">
            <option value="Haushaltsauflösung" id="Haushaltsauflösung">
              Haushaltsauflösung
            </option>
            <option value="EinfacheEntsorgung" id="EinfacheEntsorgung">
              Einfache Entsorgung
            </option>
          </select>
          <button type="button" id="next1Button">Weiter</button>
        </div>
        <div id="step3_Entrumpelung" style="display: none">
          <h2>Beschreibung</h2>
          <h3>
            Teilen Sie uns eine kurze Beschreibung über Ihre Entrümpelung mit:
          </h3>
          <input type="text" id="Beschreibung" name="Beschreibung" />
          <button type="button" id="next2Button">Weiter</button>
        </div>
        <div id="step2_Umzug" style="display: none">
          <h2>Umzug</h2>
          <label for="Stratort">Startort (Staße, Hausnummer, PLZ, Ort): </label>
          <input type="text" id="Stratort" name="Startort" />
          <label for="zeilort">Zielort (Straße, Hausnummer, PLZ, Ort):</label>
          <input type="text" id="zielort" name="zielort" />
          <label for="datum">Datum </label>
          <input type="date" id="datum" name="datum" />
          <label for="anzahl">Anzahl an Zimmer (max. 30)</label>
          <input type="number" id="anzahl" name="anzahl" max="30" />
          <label for="quadratmeter">Quadratmeter (max. 999 m²)</label>
          <input
            type="number"
            id="quadratmeter"
            name="quadratmeter"
            max="999"
          />
          <label for="umzugArt">Art vom Umzug</label>
          <select id="umzugArt" name="umzugArt">
            <option value="firmenumzug">Firmenumzug</option>
            <option value="privatumzug" selected>Privatumzug</option>
          </select>
          <label for="kostentraeger">Kostenträger</label>
          <input
            type="text"
            id="kostentraeger"
            name="kostentraeger"
            placeholder="(Optional)"
          />
          <button type="button" id="next3Button">Weiter</button>
        </div>
        <div id="step3" style="display: none">
          <h2>Kontaktinformationen</h2>
          <label for="firstName">Vorname:</label>
          <input type="text" id="firstName" name="firstName" />
          <label for="lastName">Nachname:</label>
          <input type="text" id="lastName" name="lastName" />
          <label for="email">E-Mail:</label>
          <input type="email" id="email" name="email" />
          <label for="message">Nachricht:</label>
          <textarea
            id="message"
            name="message"
            placeholder="(Optional)"
          ></textarea>
          <button type="submit">Absenden</button>
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-text">
          <a href="{{ url_for('impressum') }}">
            <span class="impressum">Impressum</span>
          </a>
          <a href="{{ url_for('agb') }}">
            <span class="agb">AGB</span>
          </a>
          <a href="{{ url_for('datenschutz') }}">
            <span class="datenschutz">Datenschutz</span>
          </a>
        </div>
        <div class="footer-text">
          <a
            href="https://www.instagram.com/alles.weg.mit.sw/"
            target="_blank"
            class="social-icon instagram"
          >
            <img
              src="{{ url_for('static', filename='images/Instagram.png') }}"
              alt="instagram"
              id="instagram"
            />
          </a>
          <a
            href="https://wa.me/message/APTBHQJKZTIHL1"
            target="_blank"
            class="social-icon whatsapp"
          >
            <img
              src="{{ url_for('static', filename='images/whatsapp.png') }}"
              alt="whatsapp"
              id="whatsapp"
            />
          </a>
        </div>
        <div class="footer-copyright">
          <span>Copyright &copy; 2024 Sauber Weg</span>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='/js/scripts.js') }}"></script>
  </body>
</html>
