<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sauber Weg</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/main.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <section class="hero">
        <nav>
          <div class="navbar">
            <a href="{{ url_for('index') }}">
              <img
                id="logo"
                src="{{ url_for('static', filename='images/newlogo.png') }}"
                alt="Your Company Logo"
                style="margin-bottom: 2%; width: 150px; height: 150px"
              />
            </a>
            <div class="line"></div>
            <div class="links">
              <a href="#pakete">PAKETE</a>
              <a href="#content">DIENSTLEISTUNGEN</a>
              <a href="#final">KONTAKTIERE UNS</a>
            </div>
          </div>
        </nav>

        <div class="sections">
          <div class="left-section">
            <h1>UMZIEHEN</h1>
            <p class="left-text">
              Vertrauen Sie auf Sauber Weg für stressfreie Umzüge und
              Entrümpelungen. Buchen Sie Termine einfach über WhatsApp und
              erhalten Sie schnell ein maßgeschneidertes Angebot. Wir sorgen für
              Professionalität und Pünktlichkeit
            </p>
            <div class="whatsapp-container">
              <a href="https://wa.me/message/APTBHQJKZTIHL1" target="_blank">
                <img
                  id="wussap"
                  src="{{ url_for('static', filename='images/whatsapp.png') }}"
                  alt="logo"
                />
              </a>
              <a
                class="text-wa"
                href="https://wa.me/message/APTBHQJKZTIHL1"
                target="_blank"
              >
                <h2>Whatsapp</h2>
              </a>
            </div>
          </div>
          <div class="right-section">
            <h1 class="transparent">MUSS NICHT</h1>
            <h1 class="below">TEUER SEIN</h1>
            <a
              href="{{ url_for('form') }}"
              target="_blank"
              style="text-decoration: none"
            >
              <div class="Jetzt-button">Jetzt kostenlos anfragen</div>
            </a>
          </div>
        </div>

        <div class="moved">
          <div class="left-section">
            <h1>UMZIEHEN MUSS NICHT TEUER SEIN</h1>
            <div class="whatsapp-container">
              <a href="https://wa.me/message/APTBHQJKZTIHL1" target="_blank">
                <img
                  id="wussap"
                  src="{{ url_for('static', filename='images/whatsapp.png') }}"
                  alt="logo"
                />
              </a>
              <a
                class="text-wa"
                href="https://wa.me/message/APTBHQJKZTIHL1"
                target="_blank"
              >
                <h2>Whatsapp</h2>
              </a>
            </div>
          </div>
          <div class="right-section">
            <p class="left-text">
              Vertrauen Sie auf Sauber Weg für stressfreie Umzüge und
              Entrümpelungen. Buchen Sie Termine einfach über WhatsApp und
              erhalten Sie schnell ein maßgeschneidertes Angebot. Wir sorgen für
              Professionalität und Pünktlichkeit
            </p>
            <a
              href="{{ url_for('form') }}"
              target="_blank"
              style="text-decoration: none"
            >
              <div class="Jetzt-button">Jetzt kostenlos anfragen</div>
            </a>
          </div>
        </div>

        <div class="moved2">
          <div class="left-section">
            <h1>UMZIEHEN MUSS NICHT TEUER SEIN</h1>
            <p class="left-text">
              Vertrauen Sie auf Sauber Weg für stressfreie Umzüge und
              Entrümpelungen. Buchen Sie Termine einfach über WhatsApp und
              erhalten Sie schnell ein maßgeschneidertes Angebot. Wir sorgen für
              Professionalität und Pünktlichkeit
            </p>
          </div>
          <div class="right-section">
            <div class="whatsapp-container">
              <a href="https://wa.me/message/APTBHQJKZTIHL1" target="_blank">
                <img
                  id="wussap"
                  src="{{ url_for('static', filename='images/whatsapp.png') }}"
                  alt="logo"
                />
              </a>
              <a class="text-wa" href="https://wa.me/message/APTBHQJKZTIHL1">
                <h2>Whatsapp</h2>
              </a>
            </div>
            <a
              href="{{ url_for('form') }}"
              target="_blank"
              style="text-decoration: none"
            >
              <div class="Jetzt-button">Jetzt kostenlos anfragen</div>
            </a>
          </div>
        </div>
      </section>
      <section class="pakete" id="pakete">
        <div>
          <h1 class="pak-head">PAKETE</h1>
        </div>
        <div class="secondcont">
          <div class="box">
            <h2>Studenten</h2>
            <p>Paket für budgetbewusste Studierende.</p>
            <p>Inkludiert Basis-Transport für essenzielle Möbel und Kisten.</p>
            <button>Ab 150€</button>
          </div>
          <div class="box">
            <h2>Senioren</h2>
            <p>
              Vollservice mit Beratung, Verpacken, Transport und Einrichten.
            </p>
            <p>Speziell für ältere Menschen konzipiert.</p>
            <button>Ab 800€</button>
          </div>
        </div>
        <div class="secondcont">
          <div class="box">
            <h2>Komplettumzugs-Paket</h2>
            <p>
              Alles aus einer Hand – Planung, Packen, Transport, Auspacken und
              Montage. Für stressfreie Umzüge
            </p>
            <button>Ab 1000€</button>
          </div>
          <div class="box">
            <h2>Kleintransport Paket</h2>
            <p>
              Für einzelne Möbelstücke oder Geräte. Schnell, flexibel,
              zuverlässig. Ideal für Online-Käufe/Verkäufe
            </p>
            <button>Ab 50€</button>
          </div>
        </div>
        <div class="secondcont">
          <div class="box">
            <h2>Do-it-Yourself-Paket</h2>
            <p>
              Miete einen Transporter und erhalte professionelles
              Umzugsmaterial. Ideal für Selbstorganisierer
            </p>
            <button>Ab 200€</button>
          </div>
          <div class="box">
            <h2>Stundenpaket</h2>
            <p>
              Buche professionelle Umzugshilfe stundenweise. Perfekt für
              kleinere Umzüge oder zum Be- und Entladen
            </p>
            <button>Ab 150€</button>
          </div>
        </div>
        <div class="secondcont">
          <div class="box">
            <h2>Entsorgung rund ums Haus</h2>
            <p>
              Entrümpelung von Wohnung, Keller oder Dachboden mit fachgerechter
              Entsorgung. Für einen Neustart
            </p>
            <button>Ab 250€</button>
          </div>
          <div class="box">
            <h2>Rund um den Garten</h2>
            <p>
              Von Hecken schneiden Rasen mähen oder Gartenhaus Räumen ALLES
              dabei. Für einen schönen Feierabend
            </p>
            <button>Ab 50€</button>
          </div>
        </div>
        <div class="verticalcont">
          <div class="box">
            <h2>Studenten</h2>
            <p>Paket für budgetbewusste Studierende.</p>
            <p>Inkludiert Basis-Transport für essenzielle Möbel und Kisten.</p>
            <button>Ab 150€</button>
          </div>
          <div class="box">
            <h2>Senioren</h2>
            <p>
              Vollservice mit Beratung, Verpacken, Transport und Einrichten.
            </p>
            <p>Speziell für ältere Menschen konzipiert.</p>
            <button>Ab 800€</button>
          </div>
          <div class="box">
            <h2>Komplettumzugs-Paket</h2>
            <p>
              Alles aus einer Hand – Planung, Packen, Transport, Auspacken und
              Montage. Für stressfreie Umzüge
            </p>
            <button>Ab 1000€</button>
          </div>
          <div class="box">
            <h2>Kleintransport Paket</h2>
            <p>
              Für einzelne Möbelstücke oder Geräte. Schnell, flexibel,
              zuverlässig. Ideal für Online-Käufe/Verkäufe
            </p>
            <button>Ab 50€</button>
          </div>
          <div class="box">
            <h2>Do-it-Yourself-Paket</h2>
            <p>
              Miete einen Transporter und erhalte professionelles
              Umzugsmaterial. Ideal für Selbstorganisierer
            </p>
            <button>Ab 200€</button>
          </div>
          <div class="box">
            <h2>Stundenpaket</h2>
            <p>
              Buche professionelle Umzugshilfe stundenweise. Perfekt für
              kleinere Umzüge oder zum Be- und Entladen
            </p>
            <button>Ab 150€</button>
          </div>
          <div class="box">
            <h2>Entsorgung rund ums Haus</h2>
            <p>
              Entrümpelung von Wohnung, Keller oder Dachboden mit fachgerechter
              Entsorgung. Für einen Neustart
            </p>
            <button>Ab 250€</button>
          </div>
          <div class="box">
            <h2>Rund um den Garten</h2>
            <p>
              Von Hecken schneiden Rasen mähen oder Gartenhaus Räumen ALLES
              dabei. Für einen schönen Feierabend
            </p>
            <button>Ab 50€</button>
          </div>
        </div>
      </section>
      <section class="content" id="content">
        <div class="head2">
          <h1 class="pak-head">DIENSTLEISTUNGEN</h1>
        </div>
        <div class="dienstleistungen">
          <img
            src="{{ url_for('static', filename='images/div1.JPG') }}"
            alt="div1"
          />
          <div class="text-content">
            <h1 class="dien-head">Umzugsdienste</h1>
            <p>
              Ihr Partner für Umzüge und Spedition Egal ob Sie neue Möbel im
              Internet erworben haben oder Unterstützung bei Transporten
              benötigen, wir sind für Sie da. Ob es sich um den Umzug weniger
              Möbelstücke oder den kompletten Haushalt von München nach Berlin
              handelt – wir garantieren, dass Ihr Umzug kostengünstiger ausfällt
              als bei unseren Mitbewerbern. Wir bieten Ihnen preiswerte und
              eMiziente Alternativen für Ihren Umzug. Dank unserer
              fortschrittlichen Vorgehensweisen bleibt Ihnen nach dem Umzug mehr
              Budget für die Gestaltung Ihres neuen Zuhauses. Fordern Sie ganz
              einfach und bequem ein Angebot an oder kontaktieren Sie uns direkt
              per WhatsApp. Wir freuen uns darauf, Ihnen behilflich zu sein.
            </p>
          </div>
        </div>
        <div class="dienstleistungen">
          <img
            src="{{ url_for('static', filename='images/div2.JPG') }}"
            alt="div2"
          />
          <div class="text-content">
            <h1 class="dien-head">Entsorgung rund um den Haushalt</h1>
            <p>
              Schwierigkeiten beim Trennen oder steht eine Haushaltsauflösung
              bevor? Verlassen Sie sich auf unseren umfassenden Service.
              Befreien Sie sich mit Leichtigkeit von Ihren nicht mehr benötigten
              Schätzen. Bei SauberWeg stehen wir Ihnen zur Seite, wenn es um
              professionelles Recycling und verantwortungsvolle Entsorgung Ihrer
              Wertgegenstände und Sperrmüll geht. Wir garantieren eine
              sorgfältige und gründliche Reinigung, damit Sie sich um nichts
              weiter kümmern müssen. Wählen Sie SauberWeg, Ihren zuverlässigen
              Partner für Sauberkeit und Ordnung.
            </p>
          </div>
        </div>
      </section>
      <section class="final" id="final">
        <div class="finalh1">
          <h1>KONTAKTIERE UNS</h1>
        </div>
        <div class="form">
          <form id="contactus">
            <div class="label">
              <label for="fname">Vorname:</label>
            </div>
            <div class="input">
              <input type="text" id="fname" name="firstname" required />
            </div>
            <div class="label">
              <label for="lname">Zuname:</label>
            </div>
            <div class="input">
              <input type="text" id="lname" name="lastname" required />
            </div>
            <div class="label">
              <label for="email">Email-Adresse:</label>
            </div>
            <div class="input">
              <input type="email" id="email" name="email" required />
            </div>
            <div class="label">
              <label for="tel">Mobilfunknummer:</label>
            </div>
            <div class="input">
              <input type="tel" id="tel" name="tel" />
            </div>
            <div class="label">
              <label for="message">Nachricht:</label>
            </div>
            <div class="input">
              <textarea
                id="message"
                name="message"
                style="height: 200px"
                required
              ></textarea>
            </div>
            <button type="submit" id="senden">SENDEN</button>
          </form>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-text">
          <a href="{{ url_for('impressum') }}">
            <span class="impressum">Impressum</span>
          </a>
          <a href="{{ url_for('agb') }}">
            <span class="agb">AGB</span>
          </a>
          <a href="{{ url_for('datenschutz') }}">
            <span class="datenschutz">Datenschutz</span>
          </a>
        </div>
        <div class="footer-text">
          <a
            href="https://www.instagram.com/alles.weg.mit.sw/"
            target="_blank"
            class="social-icon instagram"
          >
            <img
              src="{{ url_for('static', filename='images/Instagram.png') }}"
              alt="instagram"
              id="instagram"
            />
          </a>
          <a
            href="https://wa.me/message/APTBHQJKZTIHL1"
            target="_blank"
            class="social-icon whatsapp"
          >
            <img
              src="{{ url_for('static', filename='images/whatsapp.png') }}"
              alt="whatsapp"
              id="whatsapp"
            />
          </a>
        </div>
        <div class="footer-copyright">
          <span>Copyright &copy; 2024 Sauber Weg</span>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='/js/app.js') }}"></script>
  </body>
</html>
